.col-6 img {
    height: 300px;
    width: 300px;
    object-fit: cover;  
}

.row {
    margin-bottom: 120px;
    margin-right: 20px; 
}

.right {
display: flex;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}

.card {
    margin: 10px auto; 
}

/* centrar cards */
/* margin: 10px auto; */